.copy-name {
	display: inline-block;
	width: 50%;
}

.copy-name-input {
	padding: .3rem .7rem;
	border: 1px solid #aaa;
	width: 20rem;
	font-size: 1rem;
	text-align: left;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

.copy-save {
	display: inline-block;
	width: 49.5%;
	text-align: right;
}

.copy-save-button {
	display: inline-block;
	font-size: 1rem;
	padding: .3rem .7rem;
	color: #333;
	border: 1px solid #aaa;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

.copy-save-button:hover {
	cursor: pointer;
	border-color: #72C5C1;
	color: #72C5C1;
}

.copy-data-input {
	box-sizing: border-box;
	padding: .5rem;
	margin-top: 2rem;
	width: 100%;
	min-height: 20rem;
	border: 1px solid #aaa;
	font-size: 1rem;
	font-family: "Arvo", inherit;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}