.copy-name {
	width: 100%;
}

.copy-name-input {
	padding: .3rem .7rem;
	border: none;
	border-bottom: 2px dotted #aaa;
	width: 20rem;
	font-size: 1rem;
	text-align: left;
	color: #333;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

.feedback {
	padding: .3rem 1.7rem;
}

.file-button {
	/*display: inline-block;*/
	float: right;
	font-size: 1rem;
	padding: .3rem .7rem;
	color: #333;
	border: 1px solid #aaa;
	background-color: #fff;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

.file-button:hover {
	cursor: pointer;
	border-color: #3AC5C5;
	color: #3AC5C5;
}

.copy-textarea {
	box-sizing: border-box;
	padding: .5rem .7rem;
	margin-top: 2rem;
	width: 100%;
	min-height: 20rem;
	border: 1px solid #aaa;
	font-size: .9rem;
	font-family: "Arvo", inherit;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	resize: none;
}